RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ public/index.php?url=/$1 [QSA,L]

RewriteRule ^$ public/index.php?url=/ [L]
select * from coach;select * from coach;select * from coach;